<li>
	{{doggy_name}}

	<button class="change-status" data-id="{{id}}" data-newIsGood="{{isGood}}">
		{{#if isGood}}Good boy!{{else}}Pet the Dog!{{/if}}
	</button>

	<button class="delete-dog" data-id="{{id}}" value="X">
		X
	</button>
</li>
